div.roundbox {
    margin: 10pt;
    border: solid black 3pt ;
    border-radius: 5pt;
}

div.smallbox {
    border: solid aqua 1pt ;
    border-radius: 3pt;
}

span.card {
    border: solid #999 1pt ;
    border-radius: 3pt;
    margin-bottom: 1pt;
    display:inline-block;
}

table {
    padding: 10pt;
}

caption {
    caption-side: top;
    padding: 10px;
}

thead,
tfoot {
  background-color: rgb(200, 200, 200);
}

button.selected {
    opacity: 0.8;
}

button.notselected {
    opacity: 0.2;
}

button.declareselectable {
    opacity: 0.8;
}

button.declareunselectable {
    opacity: 0.2;
}
